.btn {
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.list-question-part {
  background-color: #fff;
  margin-bottom: 5px;
}

.list-ques-wrapper {
  border-radius: 8px;
  min-height: 450px;
}

.question-container {
  margin-bottom: 1rem;
  padding: 6px;
  border-radius: 8px;
  background-color: #E9EAEB;
}

.list-number-wrapper {
  padding: 1rem;
  background-color: #E9EAEB;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.one-answer {
  width: fit-content;
  height: auto;
}

.list-num-position {
  position: fixed;
  right: 0;
  z-index: 1;
}

.number-of-list {
  height: 32px;
  width: 32px;
  margin: 3px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}

.time-finnish {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-title {
  font-size: 13pt;
  font-weight: 500;
}

.finnish {
  text-align: center;
}

.color-green {
  color: green;
  font-weight: 700;
}

.color-red {
  color: red;
  font-weight: 500;
}

.bg-green {
  background-color: green;
  color: white;
}
.bg-yellow {
  background-color: rgb(200, 200, 40);
  color: white;
  border: 1px solid yellow;
}
.font-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
}
.to-the-top {
  position: fixed;
  cursor: pointer;
  bottom: 50px;
  right: 20px;
  padding: 0.5rem 0.75rem;
  border-radius: 1.4rem;
  opacity: 0.75;
  background-color: green;
  color: white;
  z-index: 1;
}
.image-question {
  max-width: 280px;
  margin-top: 2rem;
}
